<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.linni.dao.UserMapper">

    <resultMap id="BaseResultMap" type="com.learn.linni.common.entity.user.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="password" jdbcType="INTEGER" property="password" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="birthday" jdbcType="DATE" property="birthday" />
        <result column="sex" jdbcType="CHAR" property="sex" />
        <result column="address" jdbcType="VARCHAR" property="address" />
    </resultMap>



    <select id="selectById" parameterType="integer" resultMap="BaseResultMap">
        select *from `user` where id = #{id}
    </select>

    <insert id="insterList" parameterType="java.util.List" >
        insert into `user` (username,birthday,sex,address) values
        <foreach collection="list" separator="," item="user" index="index">
            (#{user.username},#{user.birthday},#{user.sex},#{user.address})
        </foreach>
    </insert>

    <insert id="insertUser" parameterType="com.learn.linni.common.entity.user.User">
        insert into `user`
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="username!=null">
                username,
            </if>
            <if test="birthday!=null">
                birthday,
            </if>
            <if test="sex!=null">
                sex,
            </if>
            <if test="address!=null">
                address
            </if>
        </trim>
        <trim  prefix=" values (" suffixOverrides="," suffix=")">
            <if test="username!=null">
                #{username},
            </if>
            <if test="birthday!=null">
                #{birthday},
            </if>
            <if test="sex!=null">
                #{sex},
            </if>
            <if test="address!=null">
                #{address}
            </if>
        </trim>
    </insert>

    <update id="updateByUser" parameterType="com.learn.linni.common.entity.user.User" >
        update `user`
        <trim prefix="set" suffixOverrides="," >
        <if test="username!=null">
            username=#{username},
        </if>
        <if test="birthday!=null">
            birthday=#{birthday},
        </if>
        <if test="sex!=null">
            sex=#{sex},
        </if>
        <if test="address!=null">
            address=#{address}
        </if>
        </trim>
       where id=#{id}
    </update>

    <insert id="testInsertList" parameterType="java.util.List" >
        insert into `user` (username,birthday,sex,address) values
        <foreach collection="list" separator="," item="user" index="index">
            (#{user.username},#{user.birthday},#{user.sex},#{user.address})
        </foreach>
    </insert>

    <update id="testUpdateByUser" parameterType="com.learn.linni.common.entity.user.User">
        update `user` set
        <trim suffixOverrides="," >
        <if test="username!=null">
            username=#{username},
        </if>
        <if test="birthday!=null">
            birthday=#{birthday},
        </if>
        <if test="sex!=null">
            sex=#{sex},
        </if>
        <if test="address!=null">
            address=#{address}
        </if>
        </trim>
        where id=#{id}
    </update>

    <insert id="testInsertUser" parameterType="com.learn.linni.common.entity.user.User" >
        insert into `user`
        <trim prefix="(" suffixOverrides="," suffix=")" >
            <if test="username!=null">
                username,
            </if>
            <if test="address!=null">
                address,
            </if>
            <if test="sex!=null">
                sex,
            </if>
            <if test="birthday!=null">
                birthday,
             </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username!=null">
                #{username},
            </if>
            <if test="address!=null">
                #{address},
            </if>
            <if test="sex!=null">
                #{sex},
            </if>
            <if test="birthday!=null">
                #{birthday},
            </if>
        </trim>
    </insert>

    <select id="testByUser" parameterType="com.learn.linni.common.entity.user.User" resultMap="BaseResultMap">
        select * from `user`
        <where>
            <if test="username!=null">
                username=#{username}
            </if>
            <if test="birthday!=null">
                 birthday=#{birthday}
            </if>
            <if test="sex!=null">
                 sex=#{sex}
            </if>
            <if test="address!=null">
                address=#{address}
             </if>
        </where>
    </select>

</mapper>